<div class = "body">
    
    <div class = "top-header">
      <h1>Bien is a studio for design, growth and good ideas.</h1>
    </div>
    
    <div class = "mid-pic">
        <img id = "mid-pic" src = "https://bien.studio/wp-content/uploads/2020/11/studio-left.jpg">
        <img id = "mid-pic" src = "https://bien.studio/wp-content/uploads/2020/11/studio-right.jpg">
    </div>
    
    <div class = "values">
        <div class = "values-header">
            <p>Our values</p>
        <div class = "values-text">
            <h1>We don’t shy away from challenges.</h1>
            <h1>Honesty and hard work spark great results.</h1>
            <h1>We’re motivated by goals, not trends.</h1>
            <h1>We like leaving and coming to work happy.</h1>
            <h1>Emails are important, but food is essential.</h1>
        </div>
        
    </div>
    
    
    <div class = "clients">
        <p>Selected Clients</p>
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "">
    </div>
    
    
    
</div>

