<div class = "whole">
    
    <div class = "top-header">
      <h1><u>Bien</u> is a studio for design, growth and good ideas.</h1>
    </div>
    
    <div class = "mid-pic">
        <img id = "mid-pic" src = "https://bien.studio/wp-content/uploads/2020/11/studio-left.jpg">
        <img id = "mid-pic2" src = "https://bien.studio/wp-content/uploads/2020/11/studio-right.jpg">
    </div>
    
    <div class = "values">
        <div class = "values-header">
            <p>Our values</p>
        </div>
        <div class = "values-text">
            <h1>We don’t shy away from challenges.</h1>
            <h1>Honesty and hard work spark great results.</h1>
            <h1>We’re motivated by goals, not trends.</h1>
            <h1>We like leaving and coming to work happy.</h1>
            <h1>Emails are important, but food is essential.</h1>
        </div>
        
    </div>
    
    
    <div class = "clients">
        <p>Selected clients</p>
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
    </div>
    
    
    
    
    
    
    
    
    
    
    <div class = "team">
        <div class = "team-index">
            <h1>Our Team</h1>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/anja-new.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/anja-alternate-768x940.jpg">
                <div class = "card-text">
                    <h1>Anja Grgić</h1>
                    <p>Project Manager</p>
                    <h2>anja@bien.studio</h2>
                </div>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/ivan-bjelajac.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/ivan-alternate.jpg">
                <div class = "card-text">
                    <h1>Ivan Bjelajac</h1>
                    <p>Co-Founder, Designer</p>
                    <h2>ivan@bien.studio</h2>
                </div>
            </div> 
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/matija-jandric.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/matija-alternate.jpg">
                <div class = "card-text">
                    <h1>Matija Jandrić</h1>
                    <p>Designer</p>
                    <h2>tija@bien.studio</h2>
                </div>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/luka-marcec.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/luka-alternate.jpg">
                <div class = "card-text">
                    <h1>Luka Marčec</h1>
                    <p>Designer</p>
                    <h2>luka.marcec@bien.studio</h2>
                </div>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/luka-peric.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/luka-p-alternate.jpg">
                <div class = "card-text">
                    <h1>Luka Perić</h1>
                    <p>Co-Founder</p>
                    <h2>luka@bien.studio</h2>
                </div>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/mihael-miklosic.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/mihael-alternate.jpg">
                <div class = "card-text">
                    <h1>Mihael Miklošić</h1>
                    <p>Designer</p>
                    <h2>mihael@bien.studio</h2>
                </div>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/silvia-marincic.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/silvia-alternate.jpg">
                <div class = "card-text">
                    <h1>Silvia Marinčić</h1>
                    <p>Designer</p>
                    <h2>silvia@bien.studio</h2>
                </div>
            </div>
        </div>
    </div>
    
</div>





<div class = "work-together">
    <div class = "content">
        <h1 id = "header" >Let's work together</h1>
        <div class = "email">
            <h2>Business inquiries / Contact</h2>
            <a target = "_blank" href = "mailto: hello@bien.studio">hello@bien.studio</a>
        </div>
        <div class = "social-media">
            <h2>Follow us on</h2>
            <a target = "_blank" href = "https://www.instagram.com/studiobien/">Instagram 
            </a>
        </div>
        <div class = "social-media">
            <h2>Keep up with stuff on</h2>
            <a target = "_blank" href = "https://m.facebook.com/Bien.design.studio/">Facebook 
            </a>
        </div>
        <div class = "social-media">
            <p>Check out our work on</p>
            <a target = "_blank" href = "https://dribbble.com/bien"><p>Dribbble</p></a>
        </div>
        <div class = "social-media">
            <p>Office address</p>
            <a target = "_blank" href = "https://www.google.com/maps/place/Bien/@45.8043327,15.9905167,16z/data=!4m5!3m4!1s0x4765d79ba4b63ebd:0xe18abf733af11b5f!8m2!3d45.8081754!4d15.9847865?shorturl=1"><p>Kneza Mislava 4, Zagreb, Croatia</p></a>
            </div>
    </div>
</div>
