<div class = "body">
    
    <div class = "top-header">
      <h1>Bien is a studio for design, growth and good ideas.</h1>
    </div>
    
    <div class = "mid-pic">
        <img id = "mid-pic" src = "https://bien.studio/wp-content/uploads/2020/11/studio-left.jpg">
        <img id = "mid-pic" src = "https://bien.studio/wp-content/uploads/2020/11/studio-right.jpg">
    </div>
    
    <div class = "values">
        <div class = "values-header">
            <p>Our values</p>
        <div class = "values-text">
            <h1>We don’t shy away from challenges.</h1>
            <h1>Honesty and hard work spark great results.</h1>
            <h1>We’re motivated by goals, not trends.</h1>
            <h1>We like leaving and coming to work happy.</h1>
            <h1>Emails are important, but food is essential.</h1>
        </div>
        
    </div>
    
    
    <div class = "clients">
        <p>Selected Clients</p>
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
        <img id = "client-logo" src = "https://cdn.freebiesupply.com/logos/large/2x/ted-2-logo-black-and-white.png">
    </div>
    
    <div class = "team">
        <div class = "team-index">
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/anja-new.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/anja-alternate-768x940.jpg">
                <h1>Anja Grgić</h1>
                <p>Project Manager</p>
                <p>anja@bien.studio</p>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/ivan-bjelajac.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/ivan-alternate.jpg">
                <h1>Ivan Bjelajac</h1>
                <p>Co-Founder, Designer</p>
                <p>ivan@bien.studio</p>
            </div> 
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/matija-jandric.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/matija-alternate.jpg">
                <h1>Matija Jandrić</h1>
                <p>Designer</p>
                <p>tija@bien.studio</p>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/luka-marcec.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/luka-alternate.jpg">
                <h1>Luka Marčec</h1>
                <p>Designer</p>
                <p>luka.marcec@bien.studio</p>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/luka-peric.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/luka-p-alternate.jpg">
                <h1>Luka Perić</h1>
                <p>Co-Founder</p>
                <p>luka@bien.studio</p>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/mihael-miklosic.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/mihael-alternate.jpg">
                <h1>Mihael Miklošić</h1>
                <p>Designer</p>
                <p>mihael@bien.studio</p>
            </div>
            <div class = "team-card">
                <img alt="Card Back" src = "https://bien.studio/wp-content/uploads/2020/11/silvia-marincic.jpg">
                <img class="img-top" alt="Card Front" src = "https://bien.studio/wp-content/uploads/2020/11/silvia-alternate.jpg">
                <h1>Silvia Marinčić</h1>
                <p>Designer</p>
                <p>silvia@bien.studio</p>
            </div>
        </div>
    </div>
    
</div>

