<p id="notice"><%= notice %></p>

<div class = "top">
  <h1>We design great products that have long lasting value.</h1>
  <p>In order to make the world a slightly better place.</p>
</div>

<div class = "mid-pic">
    <img src = "https://bien.studio/wp-content/uploads/2020/11/bien-team.jpg">
</div>

<div class = "mid-text">
    <h2>Bien is <u>7 people</u> that are</h2>
    <div class = "scroll">
        <marquee behavior="scroll" scrollamount="10" direction="up">
            <p>Here is some scrolling text... going up!</p><p>vonne rubio sunkissed</p>
        </marquee>
    </div>
</div>


<div class = "mid-pic-2">
    <img src = "https://bien.studio/wp-content/uploads/2020/11/animacija-bw.gif">
</div>

<div class = "mid-text-2">
    <div class = "top">
        <h2>We've helped teams with</h2>
    </div>
    <div class = "bottom">
        <div class = "point">
            <h3>Improving existing products</h3>
            <h4>We worked with already established companies that need continuous and dedicated work on existing features and redesigns of certain modules with legacy in mind.</h4>
        </div>
        <div class = "point">
            <h3>Launching startups</h3>
            <h4>We’ve branded and confirmed ideas through design loops before launching MVP’s. We’ve been able to help launch a number of startups from scratch.</h4>
        </div>
        <div class = "point">
            <h3>Product consulting</h3>
            <h4>We used our expertise in user experience to deliver unbiased reviews of digital products already on the market, along with those not yet launched.</h4>
        </div>
    </div>
    
</div>


<div class = "services">
    <div class = "services-header">
        <h1>Our services</h1>
    </div>
    <div class = "category">
        <h2>Brand</h2>
        <h1>Positioning</h1>
        <h1>Visual identity</h1>
        <h1>Guidelines</h1>
        <h1>Naming</h1>
        <h1>Animation</h1>
    </div>
    <div class = "category">
        <h2>Product design</h2>
        <h1>User experience design</h1>
        <h1>Design systems</h1>
        <h1>Prototyping</h1>
        <h1>Feature ideation</h1>
        <h1>User interface design</h1>
        <h1>Service design</h1>
    </div>
    <div class = "category">
        <h2>Strategy</h2>
        <h1>Design sprint workshops</h1>
        <h1>Product analysis</h1>
        <h1>User stories</h1>
    </div>
    <div class = "category">
        <h2>Engineering</h2>
        <h1>Web development</h1>
        <h1>Quality assurance</h1>
        <h1>CMS integration</h1>
    </div>
    <div class = "category">
        <h2>Other skills</h2>
        <h1>Exotic cuisine tasting</h1>
        <h1>Car customisation</h1>
        <h1>Kite flying</h1>
        <h1>Bike restoration</h1>
        <h1>Juggling</h1>
        <h1>Dog walking</h1>
    </div>
</div>










<div class = "work-together-approaches">
    <div class = "content">
        <h1 id = "header" >Let's work together</h1>
        <div class = "email">
            <h2>Business inquiries / Contact</h2>
            <a target = "_blank" href = "mailto: hello@bien.studio">hello@bien.studio</a>
        </div>
        <div class = "social-media">
            <h2>Follow us on</h2>
            <a target = "_blank" href = "https://www.instagram.com/studiobien/">Instagram 
            </a>
        </div>
        <div class = "social-media">
            <h2>Keep up with stuff on</h2>
            <a target = "_blank" href = "https://m.facebook.com/Bien.design.studio/">Facebook 
            </a>
        </div>
        <div class = "social-media">
            <p>Check out our work on</p>
            <a target = "_blank" href = "https://dribbble.com/bien"><p>Dribbble</p></a>
        </div>
        <div class = "social-media">
            <p>Office address</p>
            <a target = "_blank" href = "https://www.google.com/maps/place/Bien/@45.8043327,15.9905167,16z/data=!4m5!3m4!1s0x4765d79ba4b63ebd:0xe18abf733af11b5f!8m2!3d45.8081754!4d15.9847865?shorturl=1"><p>Kneza Mislava 4, Zagreb, Croatia</p></a>
            </div>
    </div>
</div>
