
<div class = "project-container">
    <div class = "header">
        <h1>Our work</h1>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                Novalty
                <p>2019</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/Novalty-1.jpg">
            </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                FlowXO
                <p>2018</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/flowxo_1.jpg">
                </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                BeautyPOS
                <p>2018</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/beauty-pos-0.jpg">
            </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                TestHero
                <p>2019-2020</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/testhero_1.jpg">
            </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                Altima
                <p>2019-2020</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/altima-0.jpg">
            </a>
           
        </div>
       
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                UPBORE
                <p>2019-2020</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/upbore-0.jpg">
            </a>
           
        </div>
        
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                TalentLyft
                <p>2018-</p>
                <img class = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/01_Talentlyft_fullsize_2x.png">
            </a>
        </div>
       
    </div>
</div>






<div class = "work-together">
    <div class = "content">
        <h1 id = "header" >Let's work together</h1>
        <div class = "email">
            <h2>Business inquiries / Contact</h2>
            <a target = "_blank" href = "mailto: hello@bien.studio">hello@bien.studio</a>
        </div>
        <div class = "social-media">
            <h2>Follow us on</h2>
            <a target = "_blank" href = "https://www.instagram.com/studiobien/">Instagram 
            </a>
        </div>
        <div class = "social-media">
            <h2>Keep up with stuff on</h2>
            <a target = "_blank" href = "https://m.facebook.com/Bien.design.studio/">Facebook 
            </a>
        </div>
        <div class = "social-media">
            <p>Check out our work on</p>
            <a target = "_blank" href = "https://dribbble.com/bien"><p>Dribbble</p></a>
        </div>
        <div class = "social-media">
            <p>Office address</p>
            <a target = "_blank" href = "https://www.google.com/maps/place/Bien/@45.8043327,15.9905167,16z/data=!4m5!3m4!1s0x4765d79ba4b63ebd:0xe18abf733af11b5f!8m2!3d45.8081754!4d15.9847865?shorturl=1"><p>Kneza Mislava 4, Zagreb, Croatia</p></a>
            </div>
    </div>
</div>
