<div class = "blank"> </div>

 <div class = "project-container">
    <div class = "header">
        <h1>Our work</h1>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                Novelty
                <p>2019</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/Novalty-1.jpg">
            </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                FlowXO
                <p>2018</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/flowxo_1.jpg">
                </a>
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                Beauty POS
                <p>2018</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/beauty-pos-0.jpg">
            </a>
           
        </div>
       
    </div>
    
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                TestHero
                <p>2019-2020</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/testhero_1.jpg">
            </a>
            
        </div>
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                Altima
                <p>2019-2020</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/altima-0.jpg">
            </a>
           
        </div>
       
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                UPBORE
                <p>2019-2020</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/upbore-0.jpg">
            </a>
           
        </div>
        
    </div>
    <div class = "project">
        <div class = "project-text">
            <a href = "#">
                TalentLyft
                <p>2018-</p>
                <img id = "project-img" src = "https://bien.studio/wp-content/uploads/2020/09/01_Talentlyft_fullsize_2x.png">
            </a>
        </div>
       
    </div>


 </div>