// Place all the styles related to the approaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top{
    width: 350px;
}

.top h1{
    font-size: 45px;
    text-align: left;
    line-height: 68px;
    margin-top: 85px;
    margin-left: 25px;
    letter-spacing: 1.4px;
    font-weight: 300;
    color: black;
}

.top p{
    color: black;
    margin-left: 55px;
    width: 300px;
    font-size: 17px;
    line-height: 30px;
}

.mid-pic{
    margin-top: 50px;
}


.mid-pic img{
    width: 380px;
    height: auto;
}

.mid-text{
    margin-top: 123px;
    margin-left: 25px;
    height: 10px;
    letter-spacing: 1.0px;
}

.mid-text h2{
    font-size: 28px;
    font-weight: 300;
}

.mid-text p{
    line-height: 10px;
    height: 10px;
}

.scroll{
    height: 10px;
}

.mid-pic-2{
    margin-top: 180px;
}


.mid-pic-2 img{
    width: 380px;

}

.mid-text-2{
    margin-top: 148px;
    height: auto;
}

.top h2{
    font-size: 29px;
    text-align: center;
    font-weight: 300;
}

.bottom{
    margin-top: 120px;
    padding-left: 28px;
}

.bottom h3{
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
}

.bottom h4{
    font-size: 16.5px;
    color: gray;
    letter-spacing: 0.2px;
    line-height: 30px;
    font-weight: 300;
    width: 310px;
}


.point{
    padding-bottom: 105px;
}







.services{
    padding-top: 83px;
    background-color: #121212;
    color: white;
    padding-left: 25px;
}

.services-header h1{
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 36px;
}

.category h2{
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 5px;
}

.category h1{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 23px;
}

.category{
    padding-bottom: 43px;
}










.work-together-approaches{
  background: #121212;
  padding: 80px 0px;
  height: 873px;
}

.content{
  padding-left: 25px;
  padding-top: 4px;
  width: 300px;

}

#header{
  padding-top: 75px;
  color: white;
  font-size: 38px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

.email{
  padding-top: 50px;
}

.email h2{
  font-size: 15px;
  color: white; 
  font-weight: 300;
}

.email a{
  font-size: 17px;
  color: white; 
  font-weight: 300;
}


.social-media{
  margin-top: 35px;
  width: 350px;
  height: 40px;
}

.social-media h2{
  font-size: 15.5px;
  color: gray; 
  line-height: 10px;
  font-weight: 300;
}

.social-media p{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}

.social-media a{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}












@media only screen and (min-width: 768px) {
  
}





@media only screen and (min-width: 1000px) {
.top{
    width: auto;
}

.top h1{
    font-size: 85px;
    text-align: left;
    line-height: 120px;
    margin-top: 175px;
    margin-left: 465px;
    color: black;
}

.top p{
    color: black;
    margin-left: 500px;
    margin-top: -50px;
}

.mid-pic{
    margin-top: 235px;
}


.mid-pic img{
    width: 1188px;
    height: auto;
    margin-left: 10px;
}

.mid-text{
    margin-top: 215px;
    margin-left: 475px;
    height: 10px;
}

.mid-text h2{
    font-size: 48px;
    font-weight: lighter;
}

.mid-text p{
    line-height: 10px;
    height: 10px;
}

.scroll{
    height: 10px;
}

.mid-pic-2{
    margin-top: 235px;
}


.mid-pic-2 img{
    width: 1188px;
    height: auto;
    margin-left: 71px;
}







}


