// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-container{
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
}


.header {
  padding: 58px 24px;
  height: 173px;
  margin: auto;
  text-align: left;
}

.header h1{
  font-family: Calibri, sans-serif;
  font-size: 41px; 
  font-style: normal;  
  font-variant: normal; 
  font-weight: 400; 
  line-height: 15.4px;
  color: black;
  letter-spacing: 1.5px;
}

.project{
  height: 136px;
  text-align: center;
  padding: 0px 23px;
}

.project-text{
  width: 380px;
  text-align: left;
  margin: auto;
  height: 180px;
}

.project-text p{
  padding: 15px 0px;
}

.project a { 
font-family: Calibri, sans-serif;
font-size: 36px; 
font-style: normal; 
font-variant: normal; 
font-weight: 400; 
letter-spacing: 1.0px;
line-height: 15.4px;
text-decoration: none; 
position: relative;
color: black;
background: transparent;
padding-left: 1px;
}


.project-img{
  display: none;
}


p { 
font-family: Calibri, sans-serif;
font-size: 16.5px; 
font-style: normal; 
letter-spacing: 0px;
font-variant: normal; 
font-weight: lighter; 
line-height: 20px; 
color: gray;
position: relative;
left: -32px;
top: 3px;
}









.work-together{
  background: #121212;
  padding: 90px 0px;
  height: 750px;
}

.content{
  padding-left: 25px;
  padding-top: 4px;
  width: 300px;

}

#header{
  color: white;
  font-size: 38px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 1px;
  
}

.email{
  padding-top: 50px;
}

.email h2{
  font-size: 15px;
  color: white; 
  font-weight: 300;
}

.email a{
  font-size: 17px;
  color: white; 
  font-weight: 300;
}


.social-media{
  margin-top: 35px;
  width: 350px;
  height: 40px;
}

.social-media h2{
  font-size: 15.5px;
  color: gray; 
  line-height: 10px;
  font-weight: 300;
}

.social-media p{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}

.social-media a{
  font-size: 15.5px;
  line-height: 10px;
  color: gray; 
  font-weight: 300;
}







@media only screen and (min-width: 768px) {
}





@media only screen and (min-width: 1000px) {
  .header h1{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
  font-size: 80px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 15.4px;
  letter-spacing: 3px;
  }
  
.header h1{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
  font-size: 41px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 15.4px;
  letter-spacing: 1.5px;
}


.project{
  height: 180px;
  border: solid;
  border-color: red;
  text-align: center;
}

.project-text{
  width: 380px;
  text-align: left;
  border: solid;
  margin: auto;
  border-color: blue;
  height: 180px;
}

.project a { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
font-size: 50px; 
font-style: normal; 
font-variant: normal; 
font-weight: 500; 
line-height: 15.4px;
letter-spacing: 3px;
text-decoration: none; 
position: relative;
color: black;
background: transparent;
}


a img { 
  display: none; 
  width: auto;
  height: 250px;
  position: relative;
  left: -140px;
  top: -180px;
  object-fit: cover;
  width: 300px;
  height: 100px;
  margin: -10px 0px 0px -180px;
  
}

a:hover img { 
  display: block; 
  
}


.project a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 70%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.project a:hover:after { 
  width: 100%; 
  left: 0;
}


p { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
font-size: 18px; 
font-style: normal; 
font-variant: normal; 
font-weight: 100px; 
line-height: 20px; 
color: gray;
position: relative;
left: -30px;
}



.some-paragraph{
    font-size: 5vw;
}




}






